<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string> 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</string>
</dict>
</plist>
