<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
